n8n/workflows/pfe_coach_workflow.json
{
  "name": "PFE Coach Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pfe-coach",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "pfe-coach"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json;\nconst message = (body.message || '').toLowerCase();\n\nlet intent = 'rag';\n\nconst writingKeywords = ['feedback', 'review', 'my text', 'relire', 'correction', 'analyze', 'analyse', 'écrit', 'writing'];\nconst progressKeywords = ['deadline', 'milestone', 'avancement', 'retard', 'progression', 'progress', 'délai', 'completed', 'finished', 'termine'];\n\nif (writingKeywords.some(kw => message.includes(kw))) {\n  intent = 'writing_coach';\n} else if (progressKeywords.some(kw => message.includes(kw))) {\n  intent = 'progress_tracker';\n}\n\nreturn {\n  student_id: body.student_id,\n  session_id: body.session_id,\n  message: body.message,\n  intent: intent\n};"
      },
      "id": "classify-intent",
      "name": "Classify Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/invoke",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "student_id",
              "value": "={{ $json.student_id }}"
            },
            {
              "name": "session_id",
              "value": "={{ $json.session_id }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "intent",
              "value": "={{ $json.intent }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request",
      "name": "Call FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [750, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Classify Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intent": {
      "main": [
        [
          {
            "node": "Call FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call FastAPI": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "pfe-coach-workflow",
  "tags": []
}